<h1 class="text-primary">Demo</h1>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Link1</a> 
  </div>
</nav>
<div class="container">
  <h2 class="text-secondary">This is a Demo Application.</h2>
  <button class="btn btn-primary" (click)="onclick()">Click here!</button>
  <br/>
  <!-- <h6>{{msg}}</h6> -->
  <h6>{{msg | json}}</h6>
  <!-- <img [src] = "url"/> -->
  <!-- <img [ngSrc]="url"> -->
  <br/>
  <br/>
  <!-- <button class="btn btn-primary" (click)="ondisplay()">Click here!</button> -->
  <br/>
  <br/>
  
  <!-- <input id = "input1" [value] = "msg" (input)="onInput($event)"> -->

  <!--...........using angular.............-->
  <input [(ngModel)] = "msg" [value]= "msg | json" > 

  <h3>Other Pipe Uses</h3>
  <p>{{"hello" | uppercase}}</p>
  <p>{{"HELLO" | lowercase}}</p>
  <p>{{"TOM CRUISE" | titlecase}}</p>

  <p>{{ 123456 | currency }}</p>
  <p>{{ 123456 | currency:'CAD' }}</p>

  <p>{{ [1,2,3,4,5,6] | slice:2 }}</p> 
  <p>{{ [1,2,3,4,5,6] | slice:2:4 }}</p>

  <p>{{ datetime }}</p> 
  <p>{{ datetime | date }}</p> 
  <p>{{ datetime | date:'shortTime' }}</p>
  <p>{{ datetime | date }} {{ datetime | date:'shortTime' }}</p>

  <p>Custom Pipe</p> 
  <p>{{ "Kelly James Clarkson" | modifyname }}</p> 

  <h3>Structural Directives</h3>
  <p *ngIf="display; else other"> Default paragraph! </p>
  <ng-template #other>
    <p> hidden paragraph! </p>
  </ng-template>
  <button (click)="onShow()">Show/hide</button>

  <!-- <div *ngFor="let employee of data">
      <p>{{employee.id}}</p>
      <p>{{employee.firstName}}</p>
      <p>{{employee.lastName}}</p>
      <p>{{employee.salary}}</p>
  </div> -->

  <!-- <table class="table">
    <thead>
    <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Salary</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of data;
    let i = index;
    let o = odd;
    let e = even;" class="gap-3"
    [ngClass]="{ 'bg-light': e }"
    [ngStyle] ="{'color': o ? 'blue' : 'black'}"
    >
    
  <td>{{employee.id}}</td>
  <td>{{employee.firstName}}</td>
  <td>{{employee.lastName}}</td>
  <td>{{employee.salary}}</td>
    
   </tr>
   </tbody>
   </table> -->
   <br/>

   <select [(ngModel)]="theme">
      <option value=0>Blue</option>
      <option value=1>Green</option>
      <option value=2>Grey</option>
      <option value=3>Red</option>
   </select>

   <div [ngSwitch]="theme">
    <div *ngSwitchCase = 0><p class="text-primary">You choose 0</p></div>
    <div *ngSwitchCase = 1><p class="text-success">You choose 1</p></div>
    <div *ngSwitchCase = 2><p class="text-failure">You choose 2</p></div>
    <div *ngSwitchCase = 3><p class="text-danger">You choose 3</p></div>
   </div>
   <br/>

   <td><button class="btn btn-success float-end" (click)="addEmp()">Add +</button></td>
   <table class="table">
    <thead>
    <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Salary</th>
    <th>View</th>
    <th>Delete</th>
    <th>Update</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let emp of employee.data;
    let i = index;
    let o = odd;
    let e = even;" class="gap-3"
    [ngClass]="{ 'bg-light': e }"
    [ngStyle] ="{'color': o ? 'blue' : 'black'}"
    >
    
  <td>{{emp.id}}</td>
  <!-- <td>{{i+1}}</td> -->
  <td>{{emp.firstName}}</td>
  <td>{{emp.lastName}}</td>
  <td>{{emp.salary}}</td>
  <td><button class="btn btn-primary" (click)="onView(emp.id)">view</button></td>
  <td><button class="btn btn-danger" (click)="employee.delete(emp.id)">Delete</button></td>
  <td><button class="btn btn-warning text-light" (click)="onUpdate(emp.id)">Update</button></td>
    
   </tr>
   </tbody>
   </table>
   <br/>

   <button (click)="findAll()">Find All Employees</button>

</div>